body {
    color: rgb(187, 7, 187); 
    background: plum; 
    margin: 0px;
    font-family: "Dancing Script", cursive;
}

header {
    border-bottom:solid 2px rgb(247, 248, 248);
    padding: 20px;
    font-size: 32px;
    color: rgb(106, 36, 112);
}

.chamada {
    background: rgb(246, 166, 253);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size:40px;
}

p {
    font-size:20px;
}
img {
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 30px;
}

section {
    padding-left:0px;
    padding-right:20px;
}